
{% extends "base.html" %} {%block title%} Add Pet {% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-1 text-center">Add A Pet</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 border border-dark">

            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">

                    {% for field in form if field.widget.input_type != 'hidden' %}
                    {{ field.label(class_ = "my_2") }}
                    {{ field(class_ = "d-block") }}
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endfor %}
                
                </div>
                <div class="my-3"> 
                    <button class="btn btn-success">Submit</button>
                    <a href="/" class="btn btn-danger">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}