{% extends "base.html" %} {%block title%} Add Pet {% endblock %}

{% block content %}

<div class="container">
    <h1>Pets</h1>

    <div class="row">

        {% for pet in pets %}
        <div class="col-md-3">           
            <img src="{{pet.photo_url}}" alt="pet photo" class="img-thumbnail">
            <p>{{pet.name}}, the <a href="/{{pet.pet_id}}/show">{{pet.species}}</a> is available!</p> 
        </div>
        {% endfor %}

    </div>
    <div class="row my-3">
        <div class="col-md">
            <div class="btn-group">
                <a href="/add" class="btn btn-primary">Add Pet</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}