{% extends "base.html" %} {%block title%} Add Pet {% endblock %}

{% block content %}

<div class="container">
    <h1>Pets</h1>

    <div class="row">
        <div class="col-md-3">
            <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_960_720.jpg" alt=""
                class="img-thumbnail">
            <p>This <a href="/show-pet">Pet</a> is available!</p> 
        </div>
        <div class="col-md-3">
            <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_960_720.jpg" alt=""
                class="img-thumbnail">
            <p>This <a href="/show-pet">Pet</a> is available!</p>
        </div>
        <div class="col-md-3">
            <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_960_720.jpg" alt=""
                class="img-thumbnail">
            <p>This <a href="/show-pet">Pet</a> is available!</p>
        </div>
        <div class="col-md-3">
            <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_960_720.jpg" alt=""
                class="img-thumbnail">
            <p>This <a href="/show-pet">Pet</a> is available!</p>
        </div>
    </div>
</div>


{% end block %}